PORT=3000
MOCK_MODE=false
DATABASE_URL=YOUR_SUPABASE_POOLER_CONNECTION_STRING
PAYSTACK_PUBLIC_KEY=your_paystack_public_key
PAYSTACK_SECRET_KEY=your_paystack_secret_key
PAYSTACK_CURRENCY=GHS

# Supabase Auth Configuration
SUPABASE_URL=your-project-url (e.g. https://xyz.supabase.co)
SUPABASE_ANON_KEY=your-anon-key
